#main {
    -fx-background-color: #57606f;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#scrollButton {
    -fx-background-color: #2f3542;
    -fx-text-fill: white;
    -fx-background-radius: 50%;
    -fx-font-size: 12pt;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4,0,0,1);
}

.text-field {
    -fx-background-color: #747d8c;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-text-fill: #ffffff;
    -fx-padding: 10 50 10 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0, 0, 2);
}

.send-button {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-padding: 5 10 5 10;
}

#dialogContainer {
    -fx-background-color: #57606f;
}

#text {
    -fx-text-fill: #ffffff;
}

.user-dialog #text {
    -fx-background-color: #747d8c;
    -fx-background-radius: 15px;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: white;
}

.error-dialog #text {
    -fx-text-fill: #ff6348;
    -fx-font-weight: bold;
}